DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_discord_client_id_here
T3_ACCESS_TOKEN=your_t3_chat_access_token_here
USE_BETA_DOMAIN=true

ALLOWED_USER_IDS=
ALLOWED_ROLE_IDS=
#Can be hourly,daily,weekly,monthly
RATE_LIMIT_INTERVAL=daily
RATE_LIMIT_REGULAR=100
RATE_LIMIT_PREMIUM=10

DISABLE_DM_USAGE=true

DEFAULT_MODEL=Gemini 2.5 Flash